                                                        Dictionary
                                             Key-Value Pairs: Data mapping.
                                            Aliases: Map, associative array.

                             1. Create

In [1]:
d = {}
d

{}

In [2]:
D = {"Name":"Saurabh", "Gender":"Male"}
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [4]:
D1 = {[1, 2, 3]:"Saurabh"}

TypeError: unhashable type: 'list'

In [5]:
# with mixed keys
D1 = {(1, 2, 3):"Saurabh"}
D1

{(1, 2, 3): 'Saurabh'}

In [7]:
D2 = {"name":"natty","name":"maru"}
D2

{'name': 'maru'}

In [10]:
D3 = {"name":"saurabh","collage":"sgt","marks":{"m1":99,"m2":32}}
D3

{'name': 'saurabh', 'collage': 'sgt', 'marks': {'m1': 99, 'm2': 32}}

In [13]:
s= {
    'name':'niteh',
    'college':'bit',
    'sem':'4th',
    'subject:':{
        'hindi':50,
        'math':67,
        'english':34,
    }
}    
s

{'name': 'niteh',
 'college': 'bit',
 'sem': '4th',
 'subject:': {'hindi': 50, 'math': 67, 'english': 34}}

In [14]:
# mutable items as keys
D4 = {'name':'nitish', (1, 2, 3):2}
print(D4)

{'name': 'nitish', (1, 2, 3): 2}

In [16]:
D5 = dict([('name','nitish'), ('age',32)])
D5

{'name': 'nitish', 'age': 32}

                                                    2. Access

In [17]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [20]:
D["Name"]

'Saurabh'

In [21]:
D.get("Name")

'Saurabh'

In [22]:
D3

{'name': 'saurabh', 'collage': 'sgt', 'marks': {'m1': 99, 'm2': 32}}

In [23]:
D3["Marks"["Ds"]
D3

SyntaxError: '[' was never closed (1666771207.py, line 1)


                                                  3. Edit

In [38]:
D

{'Name': 'Jatin', 'Gender': 'Bona'}


                                                    4. Add

In [39]:
D

{'Name': 'Jatin', 'Gender': 'Bona'}

In [42]:
D["Age"]=20
D

{'Name': 'Jatin', 'Gender': 'Bona', 'Age': 20}

In [44]:
D["Residence"]="Registaan"
D

{'Name': 'Jatin', 'Gender': 'Bona', 'Age': 20, 'Residence': 'Registaan'}

                                                    5. Delete

In [45]:
D5 = {}
D5

{}

In [46]:
del D5

In [47]:
D5

NameError: name 'D5' is not defined

In [50]:
del D["Gender"]
D

KeyError: 'Gender'

In [54]:
D.clear
D

{'Name': 'Jatin', 'Age': 20, 'Residence': 'Registaan'}


                                                6. Operations

In [56]:
D3

{'name': 'saurabh', 'collage': 'sgt', 'marks': {'m1': 99, 'm2': 32}}

In [57]:
D4

{'name': 'nitish', (1, 2, 3): 2}

In [58]:
D3 + D4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [59]:
D3

{'name': 'saurabh', 'collage': 'sgt', 'marks': {'m1': 99, 'm2': 32}}

In [60]:
for i in D3:
    print(i)

name
collage
marks

In [61]:
for i in D3:
    print(i, D3[i])

name saurabh
collage sgt
marks {'m1': 99, 'm2': 32}

In [62]:
"saurabh" in D3

False

In [63]:
"Name" in  D3

False

                                                    7. Functions

In [64]:
len(D3)

3

In [66]:
min(D3)

'collage'

In [68]:
max(D3)

'name'

In [69]:
sorted(D3)

['collage', 'marks', 'name']

In [70]:
sorted(D3, reverse = True)

['name', 'marks', 'collage']

In [71]:
D3.items()

dict_items([('name', 'saurabh'), ('collage', 'sgt'), ('marks', {'m1': 99, 'm2': 32})])

In [72]:
D3.keys()

dict_keys(['name', 'collage', 'marks'])

In [74]:
D3.values()

dict_values(['saurabh', 'sgt', {'m1': 99, 'm2': 32}])

In [75]:
d1 = {1:2, 3:4, 4:5}
d2 = {4:8, 9:10}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 8, 9: 10}

In [76]:
D

{'Name': 'Jatin', 'Age': 20, 'Residence': 'Registaan'}

In [77]:
D.items()

dict_items([('Name', 'Jatin'), ('Age', 20), ('Residence', 'Registaan')])

In [78]:
D1 = {key:value for key, value in D.items() if len(key)>3}
D1

{'Name': 'Jatin', 'Residence': 'Registaan'}

In [83]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [39.5, 30.6, 44.8, 36.4, 29.8, 29.2, 39.9]
{i:j for (i, j) in zip(days, temp_C)}

{'Sunday': 39.5,
 'Monday': 30.6,
 'Tuesday': 44.8,
 'Wednesday': 36.4,
 'Thursday': 29.8,
 'Friday': 29.2,
 'Saturday': 39.9}

In [85]:
distances = {'delhi':1000,'mumbai':7000, 'banglor':5000}
{key:value*0.62 for (key , value) in distances.items()}

{'delhi': 620.0, 'mumbai': 4340.0, 'banglor': 3100.0}