In [22]:
# Check if number is even/odd
def is_even(number):
    """
    This function tells if a given number is odd or even
    Input - any valid integer
    Output - odd/even
    Created By - Rahul Raj
    Last edited - 25 Feb 2025
    """ 
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [27]:
is_even(421)

'Odd'

In [24]:
for i in range(1,11):
    print(is_even(i))

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [25]:
print(is_even.__doc__)

    This function tells if a given number is odd or even
    Input - any valid integer
    Output - odd/even
    Created By - Rahul Raj
    Last edited - 25 Feb 2025

In [26]:
print.__doc__

'Prints the values to a stream, or to sys.stdout by default.\n\n  sep\n    string inserted between values, default a space.\n  end\n    string appended after the last value, default a newline.\n  file\n    a file-like object (stream); defaults to the current sys.stdout.\n  flush\n    whether to forcibly flush the stream.'

In [28]:
 pwd

'C:\\Users\\lenovo\\Desktop\\Rahul'

In [32]:
import math

In [1]:
print(2)

2

                                                Parameters Vs Arguments

In [6]:
def pow(a, b):
    return a**b

In [8]:
pow(2,3)

8

In [9]:
pow(9)

TypeError: pow() missing required argument 'exp' (pos 2)

In [10]:
def pow(a=0,b=0):
    return a**b

In [11]:
pow(2,4)

16

In [12]:
pow(3)

1

In [13]:
pow()

1

In [16]:
def add(a=0,b=0):
    return a+b

In [17]:
add(50)

50

In [18]:
add()

0

In [80]:
def flexi(*number):
    product = 9
    for i in number:
        product *= i
        return product

In [81]:
flexi(2,3,4,5,6)

18

In [59]:
rrr(2,3,4,5,6)

(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
(2, 3, 4, 5, 6)

720

In [64]:
def rrrrr(*num):
  product = 1
  for i in num:
    product *= i
  return product

In [65]:
rrrrr(1,2,3,4,5,6)

720

In [78]:
def display(**salam):
  for (key, value) in salam.items():
    print(key, '>>>>>', value)

In [1]:
len('hello')

5

In [2]:
print(10)

10

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
def odd_even(num):
    """
    Name->Rahul
    Date->4/3/2025
    inpur->integer
    output->odd,even
    This is my function

    """
    if num%2==0:
        return 'even'
    else:
        return 'odd'

In [8]:
len()

TypeError: len() takes exactly one argument (0 given)

In [10]:
odd_even(10)

'even'

In [11]:
7/2

3.5

In [13]:
odd_even(292493452935)

'odd'

In [14]:
odd_even('wreiwpeo')

TypeError: not all arguments converted during string formatting

In [12]:
def odd_even(num):
    """
     Name->Rahul
    Date->4/3/2025
    inpur->integer
    output->odd,even
    This is my function

    """
   if type(num)==int:
    if num%2==0:
      return 'even'

    else:
      return 'odd'

  else:
    return 'bhai int dal isme'

IndentationError: unindent does not match any outer indentation level (<string>, line 10)

In [13]:
print(3233)

3233

In [14]:
 Name->Rahul
    Date->4/3/2025
    inpur->integer
    output->odd,even
    This is my function

SyntaxError: invalid syntax (3459589153.py, line 1)

In [15]:
odd_even('hello')

NameError: name 'odd_even' is not defined

In [16]:
def outer_fun() :
    print("this is my outer func")
    def inner_fun():
        print("this is my inner func")


    inner_fun()


outer_fun()

this is my outer func
this is my inner func

In [17]:
outer_fun()

this is my outer func
this is my inner func

In [20]:
def cal () :
    def add(a,b):
        return a + b
    def sub(a,b):
        return a - b
    def mul(a,b):
        return a * b
    def div(a,b):
        return a / b

    return {
    'add':add,
    'sub':sub,
    'mul':mul,
    'div':div}
cal()['mul'](5,5)

25

In [28]:
cal()['mul'](99999,1)

99999

In [29]:
import re
import string

In [30]:
def to_lowercase(text):
    """convert text to lowercase"""
    return text.lower()

In [31]:
to_lowercase('hello')

'hello'

In [32]:
import pandas as pd