In [1]:
l = [1,2,3,4]

In [2]:
import copy

In [4]:
l1=copy.copy(l)

In [5]:
l1

[1, 2, 3, 4]

In [6]:
l1[0]=100

In [7]:
l1

[100, 2, 3, 4]

In [8]:
l

[1, 2, 3, 4]

In [9]:
x = [1,2,3,4]

In [10]:
x1=copy.deepcopy(x)

In [11]:
x1

[1, 2, 3, 4]

In [12]:
x1[0]=50

In [13]:
x1

[50, 2, 3, 4]

In [14]:
x

[1, 2, 3, 4]

In [17]:
y=[[3,4],[5,6]]

In [18]:
y1=copy.copy(y)

In [23]:
y[0][0]=10

In [24]:
y1

[10, [5, 6]]

In [37]:
x=(1,2,3,4,5,6,7,8,9,10)

In [41]:
y=list(x)

In [43]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
y[0]=50

In [45]:
y

[50, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
y=tuple

In [49]:
type(x)

tuple

In [50]:
x=[1,1,1,2,2,3,3]

In [51]:
b=set(x)

In [53]:
x=list(b)

In [54]:
x

[1, 2, 3]

In [55]:
def sub(a=0,b=0):
    return a-b

In [56]:
sub()

0

In [57]:
sub(1,8)

-7

In [10]:
y=[1,2,3,4,5,6,7,8,9,10]

In [15]:
l=list(map(lambda x: x**2,y))
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
names = ["Alice", "Bob", "Charlie", "Daisy", "Edward"]
salaries = ["₹75,000", "₹80,000", "₹70,000", "₹85,000", "₹90,000"]
experiences = [5, 6, 4, 7, 8]

# Merge data into a table format
for name, salary, experience in zip(names, salaries, experiences):
    print(f"{name:20} {salary:10} {experience}")

Alice                ₹75,000    5
Bob                  ₹80,000    6
Charlie              ₹70,000    4
Daisy                ₹85,000    7
Edward               ₹90,000    8

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("kohli_ipl.csv")

In [27]:
df

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   match_no  215 non-null    int64
 1   runs      215 non-null    int64
dtypes: int64(2)
memory usage: 3.5 KB

In [33]:
df["new_run"]=df["runs"].apply(lambda x: x*2)
df

     match_no  runs  new_run
0           1     1        2
1           2    23       46
2           3    13       26
3           4    12       24
4           5     1        2
..        ...   ...      ...
210       211     0        0
211       212    20       40
212       213    73      146
213       214    25       50
214       215     7       14

[215 rows x 3 columns]

In [34]:
for i in df["runs"]:
    if i>100:
        print(i)

108
109
113

In [43]:
df[df["runs"]>80]

     match_no  runs  new_run
80         81    93      186
81         82    99      198
109       110    82      164
119       120   100      200
122       123   108      216
125       126   109      218
127       128   113      226
144       145    92      184
159       160    84      168
163       164   100      200
177       178    90      180

In [40]:
df["runs"][4]

1

In [45]:
df["runs"].mean()

30.855813953488372

In [47]:
df["runs"].min()

0

In [48]:
df["runs"].max()

113

In [53]:
df["country"]="India"
df

     match_no  runs  new_run country
0           1     1        2   India
1           2    23       46   India
2           3    13       26   India
3           4    12       24   India
4           5     1        2   India
..        ...   ...      ...     ...
210       211     0        0   India
211       212    20       40   India
212       213    73      146   India
213       214    25       50   India
214       215     7       14   India

[215 rows x 4 columns]

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   match_no  215 non-null    int64
 1   runs      215 non-null    int64
 2   new_run   215 non-null    int64
 3   country   215 non-null    object
dtypes: int64(3), object(1)
memory usage: 6.8+ KB